/* Imports */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  padding: 20px;
  grid-gap: 10px; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.gallery__item:nth-child(4) {
  grid-column-start: span 2; }

.gallery__item:nth-child(5) {
  grid-row-start: span 2; }

/* variables */
/* estilos globales */
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

/* helpers */
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

body {
  font-family: 'DM Sans', sans-serif; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

/* estilos del header & navbar */
header {
  background-color: #131312;
  color: #fff; }

header .navbar {
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0% 2rem; }

header .logo {
  flex-basis: 30%; }

header .menu {
  flex-basis: 40%;
  justify-content: space-between; }

.menu .menu__item .menu_link {
  font-size: 1.8em;
  padding: 1rem; }

/* estilos del home/index */
.container {
  margin-top: 10px; }

.slide {
  margin-top: 10px; }

.slide img {
  height: 50vh; }

/* estilos del blog */
img {
  height: 300px;
  width: 600px;
  object-fit: cover; }

/* mobile */
/* estilos del about */
.blog {
  color: black;
  width: 500px;
  border: 1px solid black; }

/* estilos del contact */
/*estilos del footer*/
.footer-text {
  color: #ffffff; }
